<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <style>
      <!--Set nav bar left margin-->
      .nav-wrapper {
	  margin-left: 2%;
      }

      <!--Set clearAll button at the right of page
      .clearAllButton {
          position: absolute;
          right: 2%;
      }-->
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Refresh page every 10 seconds -->
    <meta http-equiv="refresh" content="10">
  </head>

  <body>
<!--
    <nav>
      <div class="nav-wrapper">
	<a id="logo" href="/" class="brand-logo">爬虫 web 管理界面</a>
      </div>
    </nav>
-->
    <br>
    <h5>选择初始文件上传</h5>

    <br>
    <form action="/UploadFile" enctype="multipart/form-data" method="post">
      <input type="file" name="task_init_file" id="fileToUpload">
      <button type="submit" name="submit" id="uploadButton" class="waves-effect waves-light btn">上传并创建任务</button>
      &emsp;
      <a href="/ClearAll" class="waves-effect waves-light btn">清除所有任务与上传文件</a>
    </form>
    <br>
    
    <table>
      <thead>
	<tr>
	  <th>序号</th>
	  <th>任务名称</th>
	  <th>初始文件</th>
	  <th>结果文件</th>
	  <th>执行状态</th>
	  <th>传送状态</th>
	  <th>创建时间</th>
	  <th>操作</th>
	</tr>
      </thead>

      <tbody>
	{{ .tableContents }}
      </tbody>
      
    </table>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- sweetalert while submit form -->
    <script src="js/sweetalert.min.js"></script>
    <script>
      var buttons = document.getElementsByTagName('a');
      for (var i = 0, len = buttons.length; i < len; i++) {
		// only alert while click on operation links
		if (buttons[i].id == "operationLink") {
		        buttons[i].onclick = function() {
			swal("操作成功！", "", "success");
                }
	  }
      }

      $("#uploadButton").click(function() {
		swal("操作成功！", "", "success");
      });
    </script>
  </body>
</html>
